<!--  Form para editar departamentos  -->
<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8">
        <form [formGroup]="editForm" >
            <div class="form-group">
                <label for="NombreDepartamento">Nombre</label>
                <input type="text" id="NombreDepartamento" class="form-control" formControlName="NombreDepartamento">
            <button class="btn btn-primary" (click)="editar([idDep],editForm.value)">
                Modificar
            </button>
    </div>
</form>