<div class="container-fluid">
    <div class="row">
        <h1>
            {{ titulo }}
        </h1>
        <hr>
        <!--  Descripción  -->
        <h4>
             {{ titulo }} es un proyecto
            pensado y llevado a cabo en Angular, .Net y SQLServer.
            <p>
                La intención de este proyecto es poder demostrar de forma práctica los conocimientos adquiridos durante
                mi formación como desarrollador Full Stack. Mi intención es la de poder crear una aplicación que me
                permita integrar
                de forma práctica las cosas que fui aprendiendo durante este período.
            </p>
            <p>
                Para esto se me ocurrió crear una aplicación con funcionalidades CRUD o ABM. Que permita crear, leer,
                actualizar y eliminar
                una serie de datos. Esta aplicación está pensada para el contexto de trabajo dentro de un consultorio
                interdisciplinario de salud.
            </p>
            <p>
                Esta pequeña aplicación permite llevar un registro de los pacientes que se van atendiendo dentro del
                consultorio, tambien permite
                llevar un registro del departamento al cual pertenecen como pacientes, facilitando el seguimiento del
                tratamiento interdisciplinario
                dentro del mismo consultorio. Para este propósito cuenta con la capacidad de añadir nuevos pacientes y
                nuevos departamentos
                de forma fácil y rápida, así como la capacidad de modificar los datos del paciente y del departamento al
                que acude a consulta.
            </p>
        </h4>
        <h2>
            Instrucciones:
        </h2>
        <hr>
        <h4>
            Acceder al registro
        </h4>
        <p>
            Dirigirse a la pestaña "Pacientes"/"Departamentos" dentro de la barra de navegación, esto va a desplegar la tabla con los 
            datos de los pacientes/departamentos actuales. 
        </p>
        <h4>
            Agregar un nuevo paciente/departamento
        </h4>
        <p>
            Para esto es necesario hacer click en el respectivo botón "Agregar" a la derecha de la lista de pacientes/departamentos.
        </p>
        <h4>
            Modificar datos
        </h4>
        <p>
            El botón <span class="glyphicon glyphicon-edit"> </span> permite acceder al formulario para
            la modificación de los datos de los pacientes/departamentos.
        </p>
        <h4>
            Eliminar 
        </h4>
        <p>
            El botón <span class="glyphicon glyphicon-erase"> </span> permite acceder a la opción para
            eliminar un paciente o departamento. 
        </p>
    </div>
</div>